<!-- view modal -->
<div id="viewReceiptModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">View Data Modal</h5>
                <button type="button" class="close" aria-label="Close" data-toggle="modal"
                    data-target="#confirmReceiptModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                <p>Test Page Component Data</p>
            </div>
        </div>
    </div>
</div>

<!-- confirm modal -->
<!-- onclick="$('#ModalCloseReceipt').modal('hide');" -->
<!-- <div id="confirmReceiptModal" *ngIf="viewModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmation Modal</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeConfirmModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm to Close the ViewData Modal Popup.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnTest" (click)="closeAllModals()">OKAY</button>
            </div>
        </div>
    </div>
</div> -->


<!-- Inside Modal -->
<!-- onclick="$('#confirmReceiptModal').modal('hide');" -->
<!-- <div class="modal fade" id="confirmReceiptModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmation Modal</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeConfirmModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm to Close the ViewData Modal Popup.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnTest" (click)="closeAllModals()">OKAY</button>
            </div>
        </div>
    </div>
</div> -->