<div class="dashboard">
    <app-admin-sidemenu></app-admin-sidemenu>
    <div class="dashboard-app">
        <app-admin-header></app-admin-header>
        <div class="dashboard-content">
            <div class="main-content">
                <!-- Top navbar -->
                <!-- <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                    <div class="container-fluid">
                        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">User profile</a>
                    </div>
                </nav> -->
                <!-- Page content -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card bg-secondary shadow">
                                <div class="card-header bg-white border-0">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-6 text-left">
                                            <h3 class="mb-0 text-uppercase">Update Profile</h3>
                                        </div>
                                        <!-- <div class="col-6 text-right">
                                            <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <!-- Profile Image -->
                                        <h6 class="heading-small text-muted mb-4">User Profile</h6>
                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="d-flex flex-column align-items-start">
                                                        <!-- <img [src]="viewProfilePic" alt="Admin" class="rounded-circle" width="200"> -->
                                                        <a [href]="viewProfilePic" target="_blank">
                                                            <img [src]="viewProfilePic" alt="Admin" class="rounded-circle" width="200">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <form #ProfileForm="ngForm" enctype="multipart/form-data">
                                                <div class="row mt-3">
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-profile-pic">
                                                                Upload profile
                                                            </label>
                                                            <input type="file" name="profile" class="form-control form-control-alternative" 
                                                                accept="image/*" #fileInput 
                                                                (change)="onSelectImage($event)" required>
                                                            <!-- <span class="error-msg" *ngIf="profile?.invalid && (profile?.dirty || profile?.touched)">
                                                                <span *ngIf="profile?.errors?.required">
                                                                    <span class="err">ERROR :</span> Profile image is required.
                                                                </span>
                                                            </span> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="btn-submit" style="visibility: hidden !important;">
                                                                Submit
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-md-12 text-right">
                                                                    <a class="btn btn-light text-uppercase" (click)="resetForm(1)">Reset</a>
                                                                    <a class="btn btn-info text-uppercase ml-2"
                                                                        [ngClass]="{'btn-disabled': ProfileForm.invalid || setFormValidation(1)}"
                                                                        (click)="openConfirmModal(1)">
                                                                        Update
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <hr class="my-4">
                                        <!-- Personal Info -->
                                        <h6 class="heading-small text-muted mb-4">User information</h6>
                                        <div class="pl-lg-4">
                                            <form #PersonalInfoForm="ngForm">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-full-name">
                                                                Full name
                                                            </label>
                                                            <input type="text" name="fullname" class="form-control form-control-alternative"
                                                                placeholder="Full name" [(ngModel)]="fullName" #fullname="ngModel" required>
                                                            <span class="error-msg" *ngIf="fullname?.invalid && (fullname?.dirty || fullname?.touched)">
                                                                <span *ngIf="fullname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Fullname is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-username">
                                                                Username
                                                            </label>
                                                            <input type="text" name="username" class="form-control form-control-alternative"
                                                                placeholder="Username" [(ngModel)]="userName" #username="ngModel" required>
                                                            <span class="error-msg" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                                                                <span *ngIf="username?.errors?.required">
                                                                    <span class="err">ERROR :</span> Username is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-email">
                                                                Email address
                                                            </label>
                                                            <input type="email" name="emailname" class="form-control form-control-alternative"
                                                                placeholder="Email address" [(ngModel)]="emailName" #emailname="ngModel" required>
                                                            <span class="error-msg" *ngIf="emailname?.invalid && (emailname?.dirty || emailname?.touched)">
                                                                <span *ngIf="emailname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Email address is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-phone-number">
                                                                Phone number
                                                            </label>
                                                            <input type="number" name="phonenumber" class="form-control form-control-alternative"
                                                                placeholder="Phone number" [(ngModel)]="phoneNumber" #phonenumber="ngModel" required>
                                                            <span class="error-msg" *ngIf="phonenumber?.invalid && (phonenumber?.dirty || phonenumber?.touched)">
                                                                <span *ngIf="phonenumber?.errors?.required">
                                                                    <span class="err">ERROR :</span> Phone number is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-light text-uppercase" (click)="resetForm(2)">Reset</a>
                                                        <a class="btn btn-info text-uppercase ml-2"
                                                            [ngClass]="{'btn-disabled': PersonalInfoForm.invalid || setFormValidation(2)}"
                                                            (click)="openConfirmModal(2)">
                                                            Update
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <hr class="my-4">
                                        <!-- Address Info -->
                                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                        <div class="pl-lg-4">
                                            <form #AddressInfoForm="ngForm">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-address">
                                                                Address
                                                            </label>
                                                            <input type="text" name="addressname" class="form-control form-control-alternative" 
                                                                placeholder="Home Address" [(ngModel)]="address" #addressname="ngModel" required>
                                                            <span class="error-msg" *ngIf="addressname?.invalid && (addressname?.dirty || addressname?.touched)">
                                                                <span *ngIf="addressname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Address is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-city">City</label>
                                                            <input type="text" name="cityname" class="form-control form-control-alternative" 
                                                                placeholder="City" [(ngModel)]="cityName" #cityname="ngModel" required>
                                                            <span class="error-msg" *ngIf="cityname?.invalid && (cityname?.dirty || cityname?.touched)">
                                                                <span *ngIf="cityname?.errors?.required">
                                                                    <span class="err">ERROR :</span> City is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-state">
                                                                State
                                                            </label>
                                                            <input type="text" name="statename" class="form-control form-control-alternative" 
                                                                placeholder="State" [(ngModel)]="stateName" #statename="ngModel" required>
                                                            <span class="error-msg" *ngIf="statename?.invalid && (statename?.dirty || statename?.touched)">
                                                                <span *ngIf="statename?.errors?.required">
                                                                    <span class="err">ERROR :</span> State is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-country">
                                                                Country
                                                            </label>
                                                            <input type="text" name="countryname" class="form-control form-control-alternative" 
                                                                placeholder="Country" [(ngModel)]="countryName" #countryname="ngModel" required>
                                                            <span class="error-msg" *ngIf="countryname?.invalid && (countryname?.dirty || countryname?.touched)">
                                                                <span *ngIf="countryname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Country is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-postal-code">
                                                                Postal code
                                                            </label>
                                                            <input type="number" name="postalcode" class="form-control form-control-alternative" 
                                                                placeholder="Postal code" [(ngModel)]="postalCode" #postalcode="ngModel" required>
                                                            <span class="error-msg" *ngIf="postalcode?.invalid && (postalcode?.dirty || postalcode?.touched)">
                                                                <span *ngIf="postalcode?.errors?.required">
                                                                    <span class="err">ERROR :</span> Postal code is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-light text-uppercase" (click)="resetForm(3)">Reset</a>
                                                        <a class="btn btn-info text-uppercase ml-2"
                                                            [ngClass]="{'btn-disabled': AddressInfoForm.invalid || setFormValidation(3)}"
                                                            (click)="openConfirmModal(3)">
                                                            Update
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <hr class="my-4">
                                        <!-- Description -->
                                        <h6 class="heading-small text-muted mb-4">About me</h6>
                                        <div class="pl-lg-4">
                                            <form #AboutInfoForm="ngForm">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-about-me">
                                                                About Me
                                                            </label>
                                                            <textarea rows="4" class="form-control form-control-alternative"
                                                                name="aboutme" placeholder="A few words about you..."
                                                                [(ngModel)]="aboutMe" #aboutme="ngModel" required>
                                                            </textarea>
                                                            <span class="error-msg" *ngIf="aboutme?.invalid && (aboutme?.dirty || aboutme?.touched)">
                                                                <span *ngIf="aboutme?.errors?.required">
                                                                    <span class="err">ERROR :</span> About me is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-light text-uppercase" (click)="resetForm(4)">Reset</a>
                                                        <a class="btn btn-info text-uppercase ml-2"
                                                            [ngClass]="{'btn-disabled': AboutInfoForm.invalid || setFormValidation(4)}"
                                                            (click)="openConfirmModal(4)">
                                                            Update
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <hr class="my-4">
                                        <!-- Online Profile -->
                                        <h6 class="heading-small text-muted mb-4">Online profile</h6>
                                        <div class="pl-lg-4">
                                            <form #OnlineInfoForm="ngForm">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-website">
                                                                Website
                                                            </label>
                                                            <input type="text" name="websitename" class="form-control form-control-alternative" 
                                                                placeholder="Website URL" [(ngModel)]="websiteUrl" #websitename="ngModel" required>
                                                            <span class="error-msg" *ngIf="websitename?.invalid && (websitename?.dirty || websitename?.touched)">
                                                                <span *ngIf="websitename?.errors?.required">
                                                                    <span class="err">ERROR :</span> Website is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-github">
                                                                Github
                                                            </label>
                                                            <input type="text" name="githubname" class="form-control form-control-alternative" 
                                                                placeholder="Github Profile URL" [(ngModel)]="githubUrl" #githubname="ngModel" required>
                                                            <span class="error-msg" *ngIf="githubname?.invalid && (githubname?.dirty || githubname?.touched)">
                                                                <span *ngIf="githubname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Github is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-instagram">
                                                                Instagram
                                                            </label>
                                                            <input type="text" name="instagramname" class="form-control form-control-alternative" 
                                                                placeholder="Instagram Profile URL" [(ngModel)]="instagramUrl" #instagramname="ngModel" required>
                                                            <span class="error-msg" *ngIf="instagramname?.invalid && (instagramname?.dirty || instagramname?.touched)">
                                                                <span *ngIf="instagramname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Instagram is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-facebook">
                                                                Facebook
                                                            </label>
                                                            <input type="text" name="facebookname" class="form-control form-control-alternative" 
                                                                placeholder="Facebook Profile URL" [(ngModel)]="facebookUrl" #facebookname="ngModel" required>
                                                            <span class="error-msg" *ngIf="facebookname?.invalid && (facebookname?.dirty || facebookname?.touched)">
                                                                <span *ngIf="facebookname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Facebook is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-light text-uppercase" (click)="resetForm(5)">Reset</a>
                                                        <a class="btn btn-info text-uppercase ml-2"
                                                            [ngClass]="{'btn-disabled': OnlineInfoForm.invalid || setFormValidation(5)}"
                                                            (click)="openConfirmModal(5)">
                                                            Update
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Work Info -->
                                        <h6 class="heading-small text-muted mb-4">Work Information</h6>
                                        <div class="pl-lg-4">
                                            <form #WorkInfoForm="ngForm">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-designation">
                                                                Designation
                                                            </label>
                                                            <input type="text" name="designation" class="form-control form-control-alternative" 
                                                                placeholder="Designation" [(ngModel)]="designationName" #designation="ngModel" required>
                                                            <span class="error-msg" *ngIf="designation?.invalid && (designation?.dirty || designation?.touched)">
                                                                <span *ngIf="designation?.errors?.required">
                                                                    <span class="err">ERROR :</span> Designation is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-department">
                                                                Department
                                                            </label>
                                                            <input type="text" name="department" class="form-control form-control-alternative" 
                                                                placeholder="Department" [(ngModel)]="departmentName" #department="ngModel" required>
                                                            <span class="error-msg" *ngIf="department?.invalid && (department?.dirty || department?.touched)">
                                                                <span *ngIf="department?.errors?.required">
                                                                    <span class="err">ERROR :</span> Department is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-light text-uppercase" (click)="resetForm(6)">Reset</a>
                                                        <a class="btn btn-info text-uppercase ml-2"
                                                            [ngClass]="{'btn-disabled': WorkInfoForm.invalid || setFormValidation(6)}"
                                                            (click)="openConfirmModal(6)">
                                                            Update
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Update admin profile & information confirmation modal popup -->
<div class="modal fade" id="updateProfileConfirmModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header pb-1 d-flex align-items-baseline">
                <div class="modal-title d-flex align-items-center">
                    <span class="modal-title-icon"><i class="fas fa-check-circle"></i></span>
                    <h5 class=" mt-1 ml-2">confirmation for a new {{ customModalTitleText }}</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-1">
                <p class="text-muted">
                    Are you certain that you want to modify the {{ customModalBodyText }}?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="updateAdminProfile(section)">
                    <span *ngIf="!spinner">Yes</span>
                    <span *ngIf="spinner"><i class="fas fa-spinner fa-spin px-2"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End -->