/* Creation Date: 2022-12-29 */
/* New CSS Styles */
.btn-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.error-msg {
    color: lightcoral;
    font-size: 0.8em;
}

.error-msg .err {
    color: indianred;
    font-size: 0.9em;
    font-weight: bold;
}

.modal-header {
    border: none;
}

.modal-title .modal-title-icon {
    color: #32325d;
}

.modal-footer {
    border: none;
}

.btn-primary {
    background: #5B53FE;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-light{
	border: 1px solid #E7E7E9;
}

.btn:focus{
	box-shadow: none;
}

.close:focus {
    outline: 0;
}