<div class="dashboard">
    <app-admin-sidemenu></app-admin-sidemenu>
    <div class="dashboard-app">
        <app-admin-header></app-admin-header>
        <div class="dashboard-content">
            <div class="main-content">
                <!-- Top navbar -->
                <!-- <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                    <div class="container-fluid">
                        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">User profile</a>
                    </div>
                </nav> -->
                <!-- Page content -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card bg-secondary shadow">
                                <div class="card-header bg-white border-0">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-6 text-left">
                                            <h3 class="mb-0 text-uppercase">Change Password</h3>
                                        </div>
                                        <!-- <div class="col-6 text-right">
                                            <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <h6 class="heading-small text-muted mb-4">User password</h6>
                                        <div class="pl-lg-4">
                                            <form #PasswordInfoForm="ngForm">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-old-password">
                                                                Old password
                                                            </label>
                                                            <input type="password" name="oldpwdname"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Old password" 
                                                                [(ngModel)]="oldPassword" #oldpwdname="ngModel" required>
                                                            <span class="error-msg" *ngIf="oldpwdname?.invalid && (oldpwdname?.dirty || oldpwdname?.touched)">
                                                                <span *ngIf="oldpwdname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Old password is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-new-password">
                                                                New password
                                                            </label>
                                                            <input type="password" name="newpwdname"
                                                                class="form-control form-control-alternative"
                                                                placeholder="New password" 
                                                                [(ngModel)]="newPassword" #newpwdname="ngModel" required>
                                                            <span class="error-msg" *ngIf="newpwdname?.invalid && (newpwdname?.dirty || newpwdname?.touched)">
                                                                <span *ngIf="newpwdname?.errors?.required">
                                                                    <span class="err">ERROR :</span> New password is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-confirm-password">
                                                                Confirm password
                                                            </label>
                                                            <input type="password" name="confirmpwdname"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Confirm password" 
                                                                [(ngModel)]="confirmPassword" #confirmpwdname="ngModel" required>
                                                            <span class="error-msg" *ngIf="confirmpwdname?.invalid && (confirmpwdname?.dirty || confirmpwdname?.touched)">
                                                                <span *ngIf="confirmpwdname?.errors?.required">
                                                                    <span class="err">ERROR :</span> Confirm password is required.
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-light text-uppercase" (click)="resetForm()">Reset</a>
                                                        <a class="btn btn-info text-uppercase ml-2"
                                                            [ngClass]="{'btn-disabled': PasswordInfoForm.invalid || setFormValidation() || spinner}"
                                                            (click)="openConfirmModal()">
                                                            <span *ngIf="!spinner">Update</span>
                                                            <span *ngIf="spinner"><i class="fas fa-spinner fa-spin px-2"></i></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Update admin password confirmation modal popup -->
<div class="modal fade" id="updatePwdConfirmModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-1 d-flex align-items-baseline">
                <div class="modal-title d-flex align-items-center">
                    <span class="modal-title-icon"><i class="fas fa-check-circle"></i></span>
                    <h5 class=" mt-1 ml-2">confirmation for a new password</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-1">
                <p class="text-muted">
                    Are you certain that you want to modify the password?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="updateAdminPassword()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- End -->